{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <div id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center ">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12 container  ">
                        <h3 class="text-center text-black mt-5">Login</h3>
                        <div class="form-group ">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="form-group mt-3">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Sign in
                            </button>
                        </div>
                        <div id="register-link" class="text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>
{% endblock %}
