{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('post') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <a class="btn btn-secondary mt-3 mb-3" href="{{ path('new_post') }}">CREER UN POST</a>

    {#    Message flash#}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-warning alert-dismissible fade show" role="alert">
            <p class="mb-0">{{ message }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for post in posts %}

        <div class="card p-2 my-4">
            <div class="top">
                <h2>{{ post.title }}</h2> <div class="three"></div>
            <h6>written by {{ post.author.firstName }}</h6>
            <h6>at {{ post.createdAt|date('H:s - d/m/Y') }}</h6>

            {% if post.isEdited %}
                <p class="text-danger">(post modified)</p>
            {% endif %}

            <p>{{ post.content }}</p>
            <div>
            <a href="{{ path("post_show", {id:post.id}) }}" class="btn btn-success">Voir</a>

                {% if post.author != app.user.profile %}
            <a href="{{ path("repost", {id:post.id}) }}" class="btn btn-secondary">Repost</a>
            </div>
        </div>
            <p><strong>
                    <a href="{{ path('app_like', {id:post.id}) }}" class="btn like">
                        <i class="bi bi-hand-thumbs-down{% if post.postLikes(app.user.profile) %}-fill{% endif %}"></i>
                        <span class="nbrLikes">{{ post.Postlikes|length}}</span>

                    </a>


                </strong></p>
        </div>



    {% endfor %}
    <script>


        function like(event){
            event.preventDefault()

            fetch(this.href)
                .then(response=>response.json())
                .then((data)=>{
                    console.log(this)
                    this.querySelector('.nbrLikes').innerHTML = data.count
                    if(data.liked){
                        this.querySelector('.thumb').classList.remove('bi-hand-thumbs-up')
                        this.querySelector('.thumb').classList.add('bi-hand-thumbs-up-fill')

                    }else{
                        this.querySelector('.thumb').classList.remove('bi-hand-thumbs-up-fill')
                        this.querySelector('.thumb').classList.add('bi-hand-thumbs-up')


                    }
                })
        }

        document.addEventListener('DOMContentLoaded', ()=>{
            const boutonsLike = document.querySelectorAll('.like')

            boutonsLike.forEach((bouton)=>{
                bouton.addEventListener('click', like)
            })
        })


    </script>
{% endblock %}
